.quadrado{
    width: 200px;
    height: 200px;
    background-color: black;
    animation: girar 10s linear alternate;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35vh;
}
@keyframes girar{
    0%{
        transform: rotate(360deg);
    }
    12.5%{
        background-color: antiquewhite;
    }
    25%{
        background-color: aqua;
    }
    37.5%{
        background-color: aquamarine;
    }
    50%{
        background-color: azure;
    }
    62.5%{
        background-color: bisque;
    }
    75%{
        background-color:tomato;
    }
    87.5%{
        background-color: yellowgreen;
    }
    100%{
        background-color: pink;
    }
}
