.quadrado{
    width: 200px;
    height: 200px;
    background-color: black;
    animation: girar linear 3s;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35vh;
}
@keyframes girar{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(45deg);
    }
}
