  .circulo{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: red;
    animation: pulsar 2s linear;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35vh;
}
@keyframes pulsar {
    0%  {
      background-color: red;
    }
    50% {
      background-color: orange;
    }
    80%{
        background-color: yellowgreen;
    }
  }